*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    display: flex;
    padding: 0.5rem;
    background-color: crimson;
}
.navbar ul{
    margin-right: 1rem;
    padding: 1rem;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    color: crimson;
}